.-\31  {
    width: 231px;
    height: 41px;
    background-color: #f5dbc3;
  }

.body{
    background:white url("static/sobaung.png");
    background-repeat:no-repeat;
    width: 375px;
    height: 812px;
  }
  